# Ігноруємо файли редактора
*.swp
*.swo

# Ігноруємо тимчасові файли
*.tmp
*.bak


# Ігноруємо node_modules та інші каталоги
node_modules/
dist/

# Ігноруємо системні файли
.DS_Store
Thumbs.db

# Логи
*.log

# Файли конфігурацій середовищ
.env
