# Ігнорування системних файлів
*.log                 # Ігнорувати всі файли з розширенням .log
*.tmp                 # Ігнорувати всі тимчасові файли

# Ігнорування робочих середовищ
.vscode/              # Ігнорувати налаштування Visual Studio Code
.idea/                # Ігнорувати налаштування IntelliJ IDEA, PyCharm та інших JetBrains продуктів

# Ігнорування залежностей
node_modules/         # Ігнорувати папку з Node.js модулями
vendor/               # Ігнорувати папку з PHP залежностями (Composer)

# Ігнорування системних папок
.DS_Store             # Ігнорувати системні файли macOS
Thumbs.db             # Ігнорувати системні файли Windows

# Ігнорування конфіденційних файлів
.env                  # Ігнорувати файли конфігурації середовища
secrets.yml           # Ігнорувати файли з конфіденційними даними

# Ігнорування самого .gitignore
.gitignore            # Ігнорувати файл .gitignore
